<div class="row">
  <!-- [ variant-chart ] start -->
  <div class="col-md-6">
    <app-card cardTitle="Basic line chart" [options]="false">
      <app-apex-chart chartID="line-chart-1-cac" [chartConfig]="this.chartDB.line1CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Area chart" [options]="false">
      <app-apex-chart chartID="area-chart-1-cac" [chartConfig]="this.chartDB.area1CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Bar chart" [options]="false">
      <app-apex-chart chartID="bar-chart-1-cac" [chartConfig]="this.chartDB.bar1CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Bar chart stacked" [options]="false">
      <app-apex-chart chartID="bar-chart-2-cac" [chartConfig]="this.chartDB.bar2CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie Chart" [options]="false">
      <app-apex-chart chartID="pie-chart-1-cac" [chartConfig]="this.chartDB.pie1CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Pie Chart donut" [options]="false">
      <app-apex-chart chartID="pie-chart-2-cac" [chartConfig]="this.chartDB.pie2CAC"></app-apex-chart>
    </app-card>
  </div>
  <!-- [ variant-chart ] end -->
</div>
